html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

canvas:hover {
    cursor: pointer;
}

button {
    position: absolute;
    bottom: 20px;
}